kubeconfig_path = "../k3s-ansible/kubeconfig"
cluster_name    = "k3s-proxmox"
environment     = "production"

gitops_repo_url      = "https://github.com/chipfox/argo-apps.git"
gitops_repo_revision = "HEAD"

argocd_admin_password = "replace-me"
